.abaut {
  padding: 80px 0 0;
}

.about__title {
  margin-bottom: 13px;
}

.about__item {
  margin-bottom: 100px;
  display: flex;
  position: relative;
}

.about__hitting1 {
  position: absolute;
  left: 20px;
  top: 70px;
}

.about__hitting2 {
  position: absolute;
  right: 40px;
  top: 70px;
}

.about__box {
  background-color: #fff;
  padding: 33px 40px 18px 40px;
  max-width: 470px;
  position: relative;
  min-height: 289px;
}

.about_img {
  border-radius: 2%;
  max-width: 57%;
}

.about__box-title {
  font-family: Georgia;
  font-size: 24px;
  line-height: 25px;
  color: #4e5665;
  margin-bottom: 20px;
}

.about__box::after {
  content: '';
  position: absolute;
  background-image: url('./../images/lt.svg');
  background-repeat: no-repeat;
  width: 33px;
  height: 33px;
  top: 19px;
  left: 19px;
}

.about__box::before {
  content: '';
  position: absolute;
  background-image: url('./../images/rb.svg');
  background-repeat: no-repeat;
  width: 33px;
  height: 33px;
  bottom: 20px;
  right: 20px;
}

@media (max-width: 600px) {
  .about__item {
    flex-direction: column;
  }
  .about_img {
    margin: 0 auto;
    max-width: 100%;
  }
}
