.photo__text {
  font-family: Lato;
  font-size: 16px;
  line-height: 28px;
  color: #505050;
}

.photo__slider-img {
  text-align: center;
  margin: auto;
  background-size: cover;
  max-width: 70vw;
}

.slick-slider,
.slick-initialized,
.slick-list {
  margin: 0 auto;
  max-width: 650px;
  border: none;
}

.slick-prev:before,
.slick-next:before {
  font-size: 30px;
  color: rgb(243, 78, 12);
}

.slick-prev {
  left: -30px;
}

.slick-dots li button:before {
  display: none;
}

@media (max-width: 750px) {
  .slick-next {
    right: 0px;
  }
  .slick-prev {
    left: 0px;
  }
}
